.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  padding: 24px;
  width: 100%;
  max-height: 800px;
  overflow-y: auto;
  border-radius: 6px;
}

.title {
  margin: 0;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  color: var(--white-light);
  font-size: 16px;
  font-weight: 700;
}

.model {
  color: var(--white);
  font-size: 12px;
  margin-bottom: 0.8rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.inner {
  display: flex;
  align-items: center;
  transition: all .3s;
  background-color: var(--grey-light);
}

.inner:hover {
  background-color: var(--grey);
}

.inner:hover .price{
  color: var(--black);
}

.inner:hover .oldPrice {
  color: var(--black-light);
}

.product-preview__image {
  width: 100px;
  height: 100px;
  background-size: contain;
  margin: 1rem;
  border-radius: 6px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: var(--violet-light);
  margin-right: 1rem;
}

.oldPrice {
  font-size: 15px;
  font-weight: 600;
  text-decoration: line-through;
  color: var(--violet);
}

.desc {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-between;
}

.filters {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter {
  border-radius: 6px;
  padding: 6px 12px;
  color: var(--white-light);
  background-color: var(--grey-light);
  border: none;
  outline: none;
  font-size: 12px;
}
.filter::placeholder {
  color: var(--white-light);
}

.filterTitle {
  font-size: 12px;
  color: var(--white);
}