.categories {
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
  background-color: var(--black);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.title {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.categories__list {
  list-style: none;
  padding: 0;
}

.categories__list-link {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--white);
  transition: all .3s;
  text-decoration: none;
  border-radius: 6px;
  background-color: var(--black-light);
  margin-bottom: 0.8rem;
}

.categories__list li {
  margin-bottom: 8px;
}
.categories__list-link:hover {
  color: var(--violet-light);
}

.imagePerview {
  min-width: 80px;
  border-radius: 6px;
  height: 80px;
  background-size: contain;
}