.top-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  margin: 22px 0;
}

.top-logo {
  width: 78px;
  height: 32px;
}

.user-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-logo__wrapper {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
}

.user-name {
  color: var(--white);
  cursor: pointer;
}

.user-name:hover {
  color: var(--white-light);
  text-decoration: underline;
}

.shop-icons {
  display: flex;
  gap: 20px;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 10px;
  display: block;
  width: 13px;
  height: 13px;
  background-image: url('../src/images/UI/search-icon.svg');
}

.previewImage {
  min-width: 80px;
  height: 80px;
  background-size: contain;
  border-radius: 6px;
}

.previewTitle {
  font-size: 12px;
  color: var(--white);
  transition: all .3s;
}

.search-form__results-wrapper {
  position: absolute;
  background-color: rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
  color: var(--black);
  min-width: 400px;
  top: 32px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 16px;
  border-radius: 6px;
}

.search-form__results-item {
  background-color: var(--black);
  margin-bottom: 0.4rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: .6rem 0 .6rem .6rem;
  cursor: pointer;
  text-decoration: none;
}

.search-form__results-item:hover, .search-form__results-item:hover .previewTitle  {
  text-decoration: underline;
  background-color: var(--black-light);
  color: var(--white-light);
  text-decoration: none;
}

.search-form__input {
  min-width: 300px;
  height: 27px;
  background-color: var(--black);
  color: var(--white-light);
  padding: 10px 7px;
  padding-left: 33px;
  border-radius: 6px;
  font-size: 12px;
  border: none;
  outline: none;
}

.search-form__input::placeholder {
  color: var(--white);
}

.shop-icons__item {
  height: 24px;
  width: 24px;
}

.shop-icons__card-wrapper {
  position: relative;
}

.shop-icons__counter {
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: var(--violet);
  bottom: 4px;
  right: -4px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 9px;
  color: var(--white-light);
}